body {background:url(/images/bg_main.png);}

h1 {font-family:'Raleway';}

header {position:fixed;width:100%;z-index:4;}

#main {padding:100px 0 0 0;}

ul {margin:0;padding:0;}

.navbar-default {background:#fff;border-bottom:2px solid #eaeaea;border-top:4px solid #E62534;}
.navbar-header {width:100%;}

.navbar-default .navbar-brand {font-size:3em;/*color:#fff;*/display:block;padding:23px 23px 34px 23px;/*background:#E62534;*/height:auto;line-height:9px;/*-webkit-text-stroke-width:0.5px;-webkit-text-stroke-color:#78131B;*/}
.navbar-brand, .btn {font-family:'Gafata', sans-serif;}
.navbar-nav {
	&> li {
		border-right:1px solid #eaeaea;
	}

	&>li>a:hover {
		color:#666;
	}

	padding-top:7px;
}

.navbar-default .navbar-nav>li>a:hover {color:#000;}

.navbar-nav .user-nav {
	a {
		display:inline-block;
	}
	a:first-child {
		margin-right:5px;
	}
}

.form-horizontal {
	.form-group {
		margin:10px 0;
	}
}