.navbar-default {

	background:#fff;
	border-bottom:2px solid #eaeaea;
	border-top:4px solid #E62534;

	.navbar-nav {
		&> li {
			border-right:1px solid #eaeaea;
		}

		&>li>a:hover {
			color:#666;
		}

		.user-nav {
			a {
				&:first-child {
					margin-right:5px;
				}

				display:inline-block;
			}
		}

		padding-top:7px;
	}

	.navbar-brand {
		font-size:3em;
		/*color:#fff;*/
		display:block;
		padding:23px 23px 34px 23px;
		/*background:#E62534;*/
		height:auto;
		line-height:9px;
		font-family:'Gafata', sans-serif;
		/*-webkit-text-stroke-width:0.5px;-webkit-text-stroke-color:#78131B;*/
	}

	.navbar-header {
		width:100%;
	}
}

.form-horizontal {
	.form-group {
		margin:10px 0;
	}
}