/* Modules */

.popup {

	h3 {
		margin:0;
		border-bottom:1px solid #ccc;
		color:#777;
		border-top:3px solid #E62534;
		background:#fff;
		padding:15px;
	}

	form {
		padding:15px;
	}

	position:fixed;
	box-shadow:0 0 10px #000;
	z-index:3;
	display:none;
	width:450px;
	background:url(/images/bg_main.png);
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}
.popup-shadow {width:100%;height:100%;position:absolute;background:#000;opacity:0.4;z-index:2;top:0;left:0;display:none;}