body {background:url(/images/bg_main.png);}

h1 {font-family:'Raleway';}

.para-intro {width:80%;margin:0 auto;}
.notification.widget {padding:0;}

.mobile-only {display:none !important;}

.gig-stack h1 {margin-top:0;display:inline-block;background:#fff;padding:5px 10px;-webkit-transform:rotate(-90deg);position:absolute;left:-91px;top:100px;color:#E62534;font-family:'Gafata';border:1px solid #E62534;}
#past h1 {left:66px;top:53px;}

.btn {text-transform:uppercase;}

.btn-default {background:#eaeaea;color:#666;}
.btn-danger {background:#D70206;}
.app-action-change, .app-action-change:hover {color:#D70206;}


/* Bootstrap Module Overrides */

.panel-body h1 {margin-top:0;}
.navbar-nav li {padding:15px;}
.navbar-nav li a {padding:0;}
.badge {background:#d9534f;}


/* Users */

.user {font-family:'Gafata';font-size:3em;color:#000;}


/* WIDGETS */
.widget {padding:10px;background:#fefefe;display:inline-block;width:49%;box-shadow:0px 1px 4px #ccc;max-height:427px;overflow:scroll;margin:5px;width:30%;}