<% layout('/layouts/main') -%>

<h1>Welcome to Gigster!</h1>
<p>Gigster is an online dashboard for storing your gig history along with your upcoming shows. To save you from forgetting what that awesome band was you saw that time, or to keep track of when you saw that awesome show, and also realise how many years ago it was and subsequently, how old you are...Aside from us insulting you and referring to you as old, please do enjoy and if you have any feedback, post it to us <a href="#">here</a>.</p>