<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Example App</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
	<link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,800|Rock+Salt:400,800' rel='stylesheet' type='text/css' />
	<link href="stylesheets/style.css" rel="stylesheet" />
</head>
<body>
	<header>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="nav navbar-header">
					<a class="navbar-brand" href="#">gigster</a>
					<ul class="nav navbar-nav">
						<li><a href="#">Gig Calendar</a></li>
						<li><a href="#" data-action-form="add-gig">Attend a show</a></li>
						<li><a href="#">Send gig request</a></li>
						<li>
							{{{user}}}
							{{^user}}
								<a href="/auth/facebook">Login with Facebook</a>
							{{/user}}
							{{#user}}
								<a href="#">Hello, {{user.username}}.</a>
							{{/user}}
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div id="main" class="container">
		<form action="/create" method="POST" role="form" class="action-form form-horizontal" id="add-gig">
			<fieldset>
				<input type="hidden" name="future" value="" />
				<div class="form-group">
					<label for="artist" class="col-sm-3 control-label">Artist:</label>
					<div class="col-sm-6">
						<input name="artist" class="form-control" />
					</div>
					<a href="#" class="lookup control-label btn btn-default">> Lookup</a>
				</div>
				<div class="form-group">
					<label for="venue" class="col-sm-3 control-label">Venue:</label>
					<div class="col-sm-6">
						<input name="venue" class="form-control" />
					</div>
					<a href="#" class="lookup control-label btn btn-default">> Lookup</a>
				</div>
				<div class="form-group">
					<label for="gigDate" class="col-sm-3 control-label">Gig Date:</label>
					<div class="col-sm-9">
						<input name="gigDate" class="datepicker form-control" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<button class="btn btn-danger">+ Add gig</button>
					</div>
				</div>
			</fieldset>
		</form>
		{{{body}}}
	</div>
	<footer>
	</footer>
	<script src="//code.jquery.com/jquery-latest.js"></script>
	<script src="/javascript/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="/javascript/main.js"></script>
</body>
</html>