<% if (user != undefined) { %>
	<div class="popup" id="update-user">
		<!-- LOGIN FORM -->
		<form action="/user/update/<%= user._id %>" method="post" class="action-form form-horizontal">
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control" name="name" value="<%= user.facebook.name %>" />
			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="email" class="form-control" name="email" value="<%= user.facebook.email %>" />
			</div>
			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control" name="username" value="<%= user.username %>" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-warning btn-lg">Update</button>
			</div>
		</form>
	</div>
<% } %>