<% layout('/layouts/main') -%>

<div class="row panel panel-default">
  	<div class="panel-body">
		<h1>Welcome <%= user.facebook.name %>, dude!</h1>
		<p>We've got your registered email as <%= user.facebook.email %>, if that's wrong, change it <a href="#">here</a></p>
		<p><%= gigStack.length > 0 ? 'You\'ve totally synced ' + gigStack.length + ' gigs!' : 'You have no gigs stored!' %></p>
	</div>
</div>

<!-- Render gig posts -->
<% include partials/gigs.ejs %>	