<% layout('/layouts/main') -%>

<% for(var i=0; i<users.length; i++) {%>
	<a href="/users/<%=users[i].username %>" class="user" data-email="<%= users[i].facebook.email %>"><%=users[i].username %></a>
<% } %>