.gig-stack {
  display: inline-block;
  width: 49%;
  position: relative;
  vertical-align: top; }
  .gig-stack > ul > li {
    width: 100%;
    list-style-type: none;
    display: inline-block;
    position: relative;
    border-bottom: 1px dashed #666;
    min-height: 106px; }
  .gig-stack > li:first-child {
    padding-top: 0; }
  .gig-stack h1 {
    margin-top: 0;
    display: inline-block;
    background: #fff;
    padding: 5px 10px;
    -webkit-transform: rotate(-90deg);
    position: absolute;
    left: -91px;
    top: 100px;
    color: #E62534;
    font-family: 'Gafata';
    border: 1px solid #E62534; }
  .gig-stack li:last-child {
    margin-right: 0;
    border-bottom: 0;
    padding-bottom: 0; }
  .gig-stack .stack-info {
    display: inline-block;
    vertical-align: middle;
    min-height: 0;
    text-align: center;
    width: 100%; }

#past-gigs h1 {
  left: 66px;
  top: 53px; }
#past-gigs li {
  margin-right: 27px; }
#past-gigs .display-date {
  color: #E62534;
  border: 1px dashed #E62534;
  padding: 8px;
  font-family: 'Rock Salt';
  position: absolute;
  min-width: 192px;
  right: 0; }

.display-date {
  display: inline-block;
  position: relative;
  top: 9px;
  min-width: 62px; }

.date-sticker {
  /*position:absolute;top:-5px;left:-10px;*/
  font-family: 'Gafata', sans-serif; }

.date-sticker span {
  display: block;
  font-weight: bold; }

.date-sticker .weekday {
  display: none; }

.day {
  font-size: 3em;
  line-height: 0.5em; }

.past-date .day {
  font-size: 1em; }

.date-sticker .month {
  font-size: 2.5em; }

.map-container {
  height: 50px;
  overflow: hidden;
  margin-top: 20px;
  position: relative;
  cursor: pointer; }

.map-container img {
  margin: 0;
  position: absolute;
  top: -108px; }

.map-container.active img {
  position: static; }

.event-detail {
  display: block;
  height: 40px; }
  .event-detail label {
    display: none; }

.event-detail.ticket-artist {
  height: auto;
  display: inline-block;
  padding: 17px 0 0 17px; }

.app-action-container {
  position: absolute;
  top: 5px;
  right: 5px; }
  .app-action-container li {
    display: inline-block; }

.img-crop {
  width: 100px;
  overflow: hidden;
  float: left; }

.band-logo {
  display: inline-block;
  max-height: 100px;
  min-height: 100px; }

.map-minified {
  height: 50px;
  transition: height 0.4s; }

.map-expanded {
  height: 300px;
  transition: height 0.4s; }

.map-expanded img {
  position: static; }

/*-- Forms --*/
/* Update Form */
.static-value {
  display: inline-block; }

.hidden-update {
  display: none; }

.form-control {
  width: 330px;
  display: inline-block;
  float: right; }

.control-input {
  width: 212px;
  margin-right: 10px; }

.control-button {
  width: 107px;
  float: right; }

.artist-name {
  font-size: 2em; }

.venue-name {
  display: block; }

.gig-date {
  display: none; }

/* EUGH */
.hide-gig {
  display: none !important; }

/* Users */
.user {
  font-family: 'Gafata';
  font-size: 3em;
  color: #000; }

/* Modules */
.popup {
  position: fixed;
  box-shadow: 0 0 10px #000;
  z-index: 3;
  display: none;
  width: 450px;
  background: url(/images/bg_main.png);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }
  .popup h3 {
    margin: 0;
    border-bottom: 1px solid #ccc;
    color: #777;
    border-top: 3px solid #E62534;
    background: #fff;
    padding: 15px; }
  .popup form {
    padding: 15px; }

.popup-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  opacity: 0.4;
  z-index: 2;
  top: 0;
  left: 0;
  display: none; }

.notification-popup {
  width: 60%; }
  .notification-popup .notification {
    margin: 0 auto; }

.notification-bubble {
  position: absolute;
  background: #333;
  color: #fff;
  padding: 10px;
  border-radius: 21px;
  box-shadow: 0px 0px 6px #000; }
  .notification-bubble:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 9px solid #333;
    position: absolute;
    right: -7px;
    top: 12px; }
  .notification-bubble a {
    color: #fff; }

.notification.widget {
  padding: 0; }

#user-notifications {
  right: 470px;
  top: 14px; }

/* MODULES */
/* Top artists */
.top-artists {
  width: 100%; }
  .top-artists td {
    position: relative;
    height: 35px;
    vertical-align: top; }
    .top-artists td a {
      position: relative;
      top: 5px;
      z-index: 1;
      color: #fff;
      padding: 5px; }
  .top-artists tr:first-child td {
    height: 62px; }
    .top-artists tr:first-child td span {
      height: 55px; }
    .top-artists tr:first-child td a {
      font-size: 1.5em;
      padding-top: 11px;
      top: 10px; }
  .top-artists .artist-count {
    text-align: right;
    display: block; }
  .top-artists [data-filler] {
    background: #E62534;
    display: block;
    height: 30px;
    width: 0;
    position: absolute;
    z-index: 0; }

/* WIDGETS */
.widget {
  padding: 10px;
  background: #fefefe;
  display: inline-block;
  width: 49%;
  box-shadow: 0px 1px 4px #ccc;
  max-height: 427px;
  overflow: scroll;
  margin: 5px;
  width: 30%; }

/*# sourceMappingURL=modules.css.map */
