/* MODULES */
/* Top artists */
.top-artists {

	td {
		
		a {
			position:relative;
			top:5px;
			z-index:1;
			color:#fff;
			padding:5px;
		}

		position:relative;
		height:35px;
		vertical-align:top;
	}

	tr:first-child td {
		height:62px;

		span {
			height:55px;
		}

		a {
			font-size:1.5em;
			padding-top:11px;
			top:10px;
		}
	}

	.artist-count {
		text-align:right;
		display:block;
	}

	[data-filler] {
		background:#E62534;
		display:block;
		height:30px;
		width:0;
		position:absolute;
		z-index:0;
	}

	width:100%;
}