
.icon-cancel28:before { content: '\e800'; } /* '' */
.icon-cassette:before { content: '\e801'; } /* '' */
.icon-edit18:before { content: '\e802'; } /* '' */
.icon-label36:before { content: '\e803'; } /* '' */
.icon-musicplayer1:before { content: '\e804'; } /* '' */