<div class="popup" id="add-gig">
	<h3>Create a show</h3>
	<form action="/create" method="POST" role="form" class="action-form form-horizontal">
		<fieldset>
			<input type="hidden" value="" name="venueLat" />
			<input type="hidden" value="" name="venueLong" />
			<div class="form-group">
				<label for="artist" class="control-label">Artist:</label>
				<input name="artist" class="form-control" />
			</div>
			Put a description or callout for information stating that they need to select a venue first, then add the address from the response to the form just as text before allowing user to add the gig.
			<div class="form-group">
				<label for="venue" class="control-label">Venue:</label>
				<input type="button" value="Check Venue" class="venue-check btn btn-warning control-button" />
				<input name="venue" class="form-control control-input" />
			</div>
			<div class="form-group">
				<label for="gigDate" class="control-label">Gig Date:</label>
				<input name="gigDate" class="datepicker form-control" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-warning btn-lg" disabled>Add Gig</button>
			</div>
		</fieldset>
	</form>
</div>