<div class="popup" id="add-gig">
	<h3>Create a show</h3>
	<form action="/create" method="POST" role="form" class="action-form form-horizontal">
		<fieldset>
			<input type="hidden" value="" name="venueLat" />
			<input type="hidden" value="" name="venueLong" />
			<input type="hidden" value="" name="set_list" />
			<div class="form-group">
				<label for="artist" class="control-label">Artist:</label>
				<input type="button" value="Check Artist" class="artist-check btn btn-warning control-button" />
				<input name="artist" class="form-control control-input" data-autolist="true" />
			</div>
			<div class="form-group">
				<label for="venue" class="control-label">Venue:</label>
				<input type="button" value="Check Venue" class="venue-check btn btn-warning control-button" />
				<input name="venue" class="form-control control-input" data-autolist="true" />
			</div>
			<div class="festival">
				<div class="form-group">
					<label for="festival" class="control-label">Festival:</label>
					<input name="festival" type="checkbox" class="form-control" />
				</div>
				<div class="toggle-festival">
					<div class="form-group">
						<label for="start_date" class="control-label">Start Date:</label>
						<input name="start_date" class="datepicker form-control" />
					</div>
					<div class="form-group">
						<label for="end_date" class="control-label">End Date:</label>
						<input name="end_date" class="datepicker form-control" />
					</div>
				</div>
			</div>
			<div class="single-gig">
				<div class="form-group">
					<label for="gigDate" class="control-label">Gig Date:</label>
					<input name="gigDate" class="datepicker form-control" />
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-warning btn-lg hide">Add Gig</button>
			</div>
		</fieldset>
	</form>
</div>